# Email Configuration
SENDGRID_API_KEY=your_sendgrid_api_key_here
FROM_EMAIL=noreply@yourdomain.com
TO_EMAIL=22z269@psgtech.ac.in

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Jackdog02#
DB_NAME=Civil

# JWT Configuration
JWT_SECRET_KEY=Jackdog02# 